<div class="container">
  <h1 class="container w-75 text-center">FUEL DISTRIBUTION APPLICATION</h1>
  <br><br>
    <div class="row">
      <div class="col-sm">
        <a href="/orders"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-book"></i></span>
          <br>All Orders
        </a>
      </div>
      <div class="col-sm">
        <a href="/myorder"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-shopping-cart"></i></span>
          <br>My Orders
        </a>
      </div>
      <div class="col-sm">
        <a href="/available"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-database"></i></span>
          <br>Fuel Storage
        </a>
      </div>
      <div class="col-sm">
        <a href="/allschedule"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-calendar-check-o"></i></span>
          <br>Schedule List
        </a>
      </div>
      <div class="col-sm">
        <a href="/deliver"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-truck"></i></span>
          <br>Delivered Orders
        </a>
      </div>
    </div>
  </div>
