<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/orders"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-book"></i></span>
          <br>All Orders
        </a>
      </div>
      <div class="col-sm">
        <a href="/myorder"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-shopping-cart"></i></span>
          <br>My Orders
        </a>
      </div>
      <div class="col-sm">
        Button 3
      </div>
      <div class="col-sm">
        Button 4
      </div>
    </div>
  </div>
