<div class="container">
  <h3 class="container w-50 text-center">ADD NEW ORDER & ALL ORDERS</h3>
    <div class="border">
        <button class="btn btn-md btn-outline-primary" (click)="open(content)">
          <i class="fa fa-plus"></i> New Order</button>
      </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>OrderRefId</th>
        <th>Shed Name</th>
        <th>Shed Id</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Fuel Type</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td><span>{{order.orderRefId}}</span></td>
        <td><span>{{order.name}}</span></td>
        <td><span>{{order.shedId}}</span></td>
        <td><span>{{order.location}}</span></td>
        <td><span>{{order.capacity}}</span></td>
        <td><span>{{order.fuelType}}</span></td>
        <td><span>{{order.status}}</span></td>
        <td>
            <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, order)">
              <i class="fa fa-search"></i>Details</button>
          </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Order</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label for="name">Fuel Station Name</label>
          <div class="input-group">
            <input name="name" id="name" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
            <label for="shedId">Fuel Station Id</label>
            <div class="input-group">
              <input name="shedId" id="shedId" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <div class="input-group">
              <input name="location" id="location" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="capacity">Capacity</label>
          <div class="input-group">
            <select class="form-select" name="capacity" id="capacity" ngModel>
              <option selected>Select</option>
              <option value="2000" >2000</option>
              <option value="3000" >3000</option>
              <option value="5000">5000</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label for="fuelType">Fuel Type</label>
            <div class="input-group">
              <select class="form-select" name="fuelType" id="fuelType" ngModel>
                <option selected>Select</option>
                <option value="Octane92" >Octane92</option>
                <option value="Octane95" >Octane95</option>
                <option value="Diesel">Diesel</option>
                <option value="SuperDiesel">SuperDiesel</option>
              </select>
            </div>

        </div>
        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title1">Order Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Fuel Station Name</label>
          <div class="input-group">
            <input id="sname" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
            <label>Fuel Station Id</label>
            <div class="input-group">
              <input id="sid" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label>Location</label>
            <div class="input-group">
              <input id="slocation" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label>Fuel Type</label>
            <div class="input-group">
              <input id="sfuelType" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label>Capacity</label>
            <div class="input-group">
              <input id="scapacity" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label>Status</label>
            <div class="input-group">
              <input id="status" class="form-control" readonly>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Order Completion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
            <label>Order RefId</label>
            <div class="input-group">
              <input formControlName="orderRefId" class="form-control" readonly>
            </div>
          </div>

        <div class="form-group">
            <label for="name">Fuel Station Name</label>
            <div class="input-group">
              <input formControlName="name" class="form-control" readonly>
            </div>
          </div>

          <div class="form-group">
              <label for="shedId">Fuel Station Id</label>
              <div class="input-group">
                <input formControlName="shedId" class="form-control" readonly>
              </div>
          </div>

          <div class="form-group">
              <label for="location">Location</label>
              <div class="input-group">
                <input formControlName="location" class="form-control" readonly>
              </div>
          </div>

          <div class="form-group">
              <label for="fuelType">Fuel Type</label>
              <div class="input-group">
                <input formControlName="fuelType" class="form-control" readonly>
              </div>
          </div>

          <div class="form-group">
              <label for="capacity">Capacity</label>
              <div class="input-group">
                <input formControlName="capacity" class="form-control" readonly>
              </div>
          </div>

          <div class="form-group">
              <label for="status">Status</label>
              <div class="input-group">
                <input formControlName="status" class="form-control" readonly>
              </div>
          </div>
        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Complete Order</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
